.navbar-lewagon {
  justify-content: right;
  background: rgba(29, 7, 22, 0.8);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar .container-fluid{
  justify-content: right;
}

.nav-item .nav-link{
  color: #F5FFFA;
  border: solid none;
}
